<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/landing-page-pais-template/static/css/style.css">
    <script src="https://kit.fontawesome.com/14bc1c0560.js" integrity="sha384-vuADQJABqJxO5PQ2i3vtGy2iQ5N1PhjsSTwvvNj81QMVUxSs5eVu2dpwu1PpS1Yf" crossorigin="anonymous"></script>
</head>

<body>
    {% block contents %}{% endblock %}
</body>

</html>